.wrapper {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error {
    margin: 0 auto;
    color: red;
    /*font-weight: bolder;*/
}